body {
  background: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}
body {
  color: #000;
}
.posts-expand .post-title-link {
  color: #000;
}
.posts-expand .post-meta-container {
  color: #800;
}
.sidebar {
  opacity: 0.9;
}
.popup {
  opacity: 0.8;
}
.main-inner {
  opacity: 0.8;
}
.brand {
  border-bottom: none;
  background-color: rgba(255,255,255,0); /* 添加背景色，替换 "your-color" 为您想要的颜色值 */
  color: #000 !important;
  display: inline-block;
  line-height: $font-size-title;
  padding: 0 40px;
  position: relative;
}
.brand:hover {
  color: var(--brand-hover-color);
}
