body {
  background: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

/* 文章部分 */
.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
   background: rgba(255,255,255,0.9);
}

.darkmode--activated .post {
  /* 在这里定义暗黑模式下的样式 */
  background: rgba(0, 0, 0, 0.9); /* 例如，使用更暗的背景色 */
  color: #ccc; /* 更改文本颜色以提高可读性 */
  -webkit-box-shadow: 0 0 5px rgba(50, 50, 50, .5);
  -moz-box-shadow: 0 0 5px rgba(50, 50, 50, .5);
}

.posts-expand .post-title-link {
  color: #000;
}
.posts-expand .post-meta-container {
  color: #000;
}
/* 侧标栏 */
.sidebar {
  opacity: 0.9;
}
.popup {
  opacity: 0.8;
}

/* 标题 */
.brand {
  border-bottom: none;
  background-color: rgba(255,255,255,0); /* 添加背景色，替换 "your-color" 为您想要的颜色值 */
  color: #000 !important;
  display: inline-block;
  line-height: $font-size-title;
  padding: 0 40px;
  position: relative;
}

.brand:hover {
  color: var(--brand-hover-color);
}


.archive-container {
  keep-container(false, 0, 0, 30px, 30px);
  background: rgba(255,255,255,0.9);
}