body {
  background: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}
body {
  color: #000;
}
body::-webkit-scrollbar {
  width: 0;
}
.posts-expand .post-title-link {
  color: #000;
}
.posts-expand .post-meta-container {
  color: #800;
}
.sidebar {
  opacity: 0.9;
}
.popup {
  opacity: 0.8;
}
.main-inner {
  opacity: 0.8;
}
